## **Requisitos generales**

El Hackathon  da inicio el  lunes 1 de Julio a las 16.30 hrs (MX)  y termina el 5 de Julio a las  16.30 hrs(MX) con el DemoDay.

<aside>
⏱️ **La fecha y hora limite de entrega de los proyectos es el día viernes a las 14hrs (MX) después de esta hora no se aceptan más entregas.**

</aside>

1. Tu proyecto deberá estar colocado y entregado en un repositorio de Github.

2. Al llegar la fecha limite y hora  cada equipo debe enviar un enlace al @alma.linares en discord

3. El tiempo de presentación el dīa del DemoDay es limitado, cada equipo tendrá un tiempo estrictamente contabilizado de 10 min. como máximo

<aside>
⏱️ **El reto**

Es cumplir con los siguientes criterios de evaluación :

 **AED** (*Análisis exploratorio de datos*)

**Visualización**

**Reporte de resultados**

**Conclusiones dentro de una página WEB**

</aside>

### Mentorías

- A cada equipo solo se le darán 20 minutos de consulta
- Pides en el canal del Hackathon (#mentoria-hackathon. @ pones el nombre del tutor) la mentoría y se te asignará el espacio disponible.
- Los horarios enlistados corresponden hora México

**@IvanAlducin (DA y DS)**

Ma-V   8:00 - 9:00 hrs.     L-J   18:00 - 21:00hrs

**@Horacio León (WD)**

L-J.   19:00 - 22:00 hrs

**@Marco Espinosa (WD)**

Ma y V  16:00 - 18:00 hrs
Mi         19:00 - 21:00 hrs

# Estadística Descriptiva
## Análisis Exploratorio

• Recency. Esta métrica se puede construir tomando como base el día actual y a este restar
los días hasta la última fecha de compra del cliente, puede ser días, semanas, años, esto
depende del tipo de industria y la frecuencia promedio de compra (las personas no
compran un auto nuevo cada 2 semanas, o tal vez sí, pero no las conocemos). Así que
puedes usar la última fecha de compra del conjunto de datos como parámetro para estimar
la diferencia de días del resto de compras.

• Frequency. Esta métrica se puede construir contando el número de compras que un
cliente ha hecho, puede ser por compra, o por producto, depende del enfoque que uno le
quiera dar.

• Monetary. Esta métrica es la más sencilla, repres

In [2]:
# Importar bibliotecas
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [6]:
#df= pd.read_csv('./datasets/Online_Retail.csv')
df = pd.read_csv('./datasets/Online_Retail.csv', encoding='latin1')

FileNotFoundError: [Errno 2] No such file or directory: './datasets/Online_Retail.csv'

In [3]:
# mostrar información del DataFrame
def info(df):
    display(df.head(10))
    print()
    print(df.info())
    print()
    print(df.describe())
    print()
    print('Duplicated: ',df.duplicated().sum())
    print()
    print('Null values:')
    print(df.isnull().sum())

In [5]:
info(df)

NameError: name 'df' is not defined

In [ ]:
def encabezados(df):
    '''
    Renombrar columnas: Bucle en los encabezados para :
    1. Poner todo en minúsculas
    2. Eliminar los espacios
    3. Remplazar espacio entre palabras por "_"
    '''

    new_col_names = []

    for name in df.columns:
        # Luego, pon todas las letras en minúsculas
        name_lowered = name.lower()
        # Elimina los espacios al principio y al final
        name_stripped = name_lowered.strip()
        # Por último, reemplaza los espacios entre palabras por guiones bajos
        name_no_spaces = name_stripped.replace(' ', '_')
        # Convertir todo a string
        name_string = str(name_no_spaces)
        # Agrega el nuevo nombre a la lista de nuevos nombres de columna
        new_col_names.append(name_string)
    # Reemplaza los nombres anteriores por los nuevos
    df.columns = new_col_names

encabezados(df)

In [ ]:
df = df.map(lambda x: x.lower() if type(x) == str else x)

In [ ]:
df['invoice_date'] = pd.to_datetime(df['invoice_date'], format="%d/%m/%Y %H:%M")

In [ ]:
df[df.duplicated()].head(10)

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
517,536409,21866,union jack flag luggage tag,1,2019-12-01 11:45:00,1.25,17908.0,united kingdom
527,536409,22866,hand warmer scotty dog design,1,2019-12-01 11:45:00,2.10,17908.0,united kingdom
537,536409,22900,set 2 tea towels i love london,1,2019-12-01 11:45:00,2.95,17908.0,united kingdom
539,536409,22111,scottie dog hot water bottle,1,2019-12-01 11:45:00,4.95,17908.0,united kingdom
555,536412,22327,round snack boxes set of 4 skulls,1,2019-12-01 11:49:00,2.95,17920.0,united kingdom
587,536412,22273,feltcraft doll molly,1,2019-12-01 11:49:00,2.95,17920.0,united kingdom
589,536412,22749,feltcraft princess charlotte doll,1,2019-12-01 11:49:00,3.75,17920.0,united kingdom
594,536412,22141,christmas craft tree top angel,1,2019-12-01 11:49:00,2.10,17920.0,united kingdom
598,536412,21448,12 daisy pegs in wood box,1,2019-12-01 11:49:00,1.65,17920.0,united kingdom
600,536412,22569,feltcraft cushion butterfly,2,2019-12-01 11:49:00,3.75,17920.0,united kingdom

In [ ]:
df.query('invoice_no == "536409" & stock_code == "21866" & customer_id == 17908.0')

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
494,536409,21866,union jack flag luggage tag,1,2019-12-01 11:45:00,1.25,17908.0,united kingdom
517,536409,21866,union jack flag luggage tag,1,2019-12-01 11:45:00,1.25,17908.0,united kingdom

In [ ]:
df.drop_duplicates(keep='first'.format('trip_id'), inplace=True)

In [ ]:
df['description'] = df['description'].fillna('unknown')
df['customer_id'] = df['customer_id'].fillna('unknown')

In [ ]:
info(df)

,invoice_no,stock_code,description,quantity,invoice_date,unit_price,customer_id,region
0,536365,85123a,white hanging heart t-light holder,6,2019-12-01 08:26:00,2.55,17850.0,united kingdom
1,536365,71053,white metal lantern,6,2019-12-01 08:26:00,3.39,17850.0,united kingdom
2,536365,84406b,cream cupid hearts coat hanger,8,2019-12-01 08:26:00,2.75,17850.0,united kingdom
3,536365,84029g,knitted union flag hot water bottle,6,2019-12-01 08:26:00,3.39,17850.0,united kingdom
4,536365,84029e,red woolly hottie white heart.,6,2019-12-01 08:26:00,3.39,17850.0,united kingdom
5,536365,22752,set 7 babushka nesting boxes,2,2019-12-01 08:26:00,7.65,17850.0,united kingdom
6,536365,21730,glass star frosted t-light holder,6,2019-12-01 08:26:00,4.25,17850.0,united kingdom
7,536366,22633,hand warmer union jack,6,2019-12-01 08:28:00,1.85,17850.0,united kingdom
8,536366,22632,hand warmer red polka dot,6,2019-12-01 08:28:00,1.85,17850.0,united kingdom
9,536367,84879,assorted colour bird ornament,32,2019-12-01 08:34:00,1.69,13047.0,united kingdom

<class 'pandas.core.frame.DataFrame'>
Index: 536641 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   invoice_no    536641 non-null  object
 1   stock_code    536641 non-null  object
 2   description   536641 non-null  object
 3   quantity      536641 non-null  int64
 4   invoice_date  536641 non-null  datetime64[ns]
 5   unit_price    536641 non-null  float64
 6   customer_id   536641 non-null  object
 7   region        536641 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 36.8+ MB
None

            quantity                   invoice_date     unit_price
count  536641.000000                         536641  536641.000000
mean        9.620029  2020-07-04 04:17:03.972040704       4.632656
min    -80995.000000            2019-12-01 08:26:00  -11062.060000
25%         1.000000            2020-03-28 10:52:00       1.250000
50%         3.000000            2020-07-19 14:04:00       2.080000
75%        10.000000            2020-10-18 17:05:00       4.130000
max     80995.000000            2020-12-09 12:50:00   38970.000000
std       219.130156                            NaN      97.233118

Duplicated:  0

Null values:
invoice_no      0
stock_code      0
description     0
quantity        0
invoice_date    0
unit_price      0
customer_id     0
region          0
dtype: int64

In [1]:
df.nunique()

NameError: name 'df' is not defined

# Machine Learning
## Clustering

Para esta siguiente fase, vamos a desarrollar un modelo de segmentación basado en las 3
variables de nuestra metodología RFM.
Para ello utilizaremos un algoritmo de aprendizaje no supervisado muy utilizado llamado k-means,
el algoritmo k-means es un método de agrupamiento que divide un conjunto de datos en k grupos o
clusters. Los datos se agrupan de tal manera que los puntos en el mismo clúster sean más
similares entre sí que los puntos en otros clusters.
La idea es identificar a los clientes que representen alto valor de acuerdo con su patrón de
compras, y clientes de bajo valor. Puedes agregar los grupos que tu consideres necesarios (Acabo
de hacer dos grupos: alto valor y bajo valor). Pero lo ideal es tener una segmentación más
específica que represente y diferencie cada grupo.
Una pregunta importante: ¿Cómo saber cuantos grupos debo crear? Para ellos se ocupará una
técnica llamada método del codo. N